@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

#activity {
    width: 50vw;
    height: 50vh;
    font-size: 20px;
    background-color: #2b0d33;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    font-family: Roboto, sans-serif;
    color: #2b0d33;
}

button {
    background-color: #8e44ad;
    color: #fff;
    border: none;
    display: block;
    width: 50vw;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
}

button:hover {
    background-color: #732d91;
}

button:focus {
    outline: none;
    background-color: #5e3370;
}